<div class="max-w-5xl mx-auto mt-10 p-6 bg-base-100 shadow-xl rounded-2xl">

    <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-bold">Contact List</h2>
         {% include "partials/spinner.html" %}
         <button class="btn btn-primary" onclick="contact_modal.showModal()">Add Contact</button>
            {% include "partials/add-contact-modal.html" %}
       
    </div>

    <div class="overflow-x-auto" >
        <table class="table table-zebra w-full" >

            <!-- Head -->
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>

            <!-- Body -->
            <tbody id="contact-table-body">
                 
                {% for contact in contacts %}
                    {% include "partials/contact-row.html" %}
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center text-gray-500">
                            No contacts found.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>